<ul>
<li>Calculation Modes</li>
<ul>
<li><a href='Calculation_Modes.html#CalculationMode'>CalculationMode </a></li>
<li>Generator Coordinates</li>
<ul>
<li><a href='Calculation_Modes.html#GCMSlaterDeterminants'>GCMSlaterDeterminants </a></li>
</ul>
<li>Geometry Optimization</li>
<ul>
<li><a href='Calculation_Modes.html#GOCenter'>GOCenter </a></li>
<li><a href='Calculation_Modes.html#GOLineTol'>GOLineTol </a></li>
<li><a href='Calculation_Modes.html#GOMaxIter'>GOMaxIter </a></li>
<li><a href='Calculation_Modes.html#GOMethod'>GOMethod </a></li>
<li><a href='Calculation_Modes.html#GOMinimumMove'>GOMinimumMove </a></li>
<li><a href='Calculation_Modes.html#GOObjective'>GOObjective </a></li>
<li><a href='Calculation_Modes.html#GOStep'>GOStep </a></li>
<li><a href='Calculation_Modes.html#GOTolerance'>GOTolerance </a></li>
</ul>
<li>Invert KS</li>
<ul>
<li><a href='Calculation_Modes.html#InvertKSConvAbsDens'>InvertKSConvAbsDens </a></li>
<li><a href='Calculation_Modes.html#InvertKSMaxIter'>InvertKSMaxIter </a></li>
<li><a href='Calculation_Modes.html#InvertKSTargetDensity'>InvertKSTargetDensity </a></li>
<li><a href='Calculation_Modes.html#InvertKSVerbosity'>InvertKSVerbosity </a></li>
<li><a href='Calculation_Modes.html#InvertKSmethod'>InvertKSmethod </a></li>
<li><a href='Calculation_Modes.html#KSInversionAsymptotics'>KSInversionAsymptotics </a></li>
<li><a href='Calculation_Modes.html#KSInversionLevel'>KSInversionLevel </a></li>
</ul>
<li>Optimal Control</li>
<ul>
<li><a href='Calculation_Modes.html#OCTCheckGradient'>OCTCheckGradient </a></li>
<li><a href='Calculation_Modes.html#OCTClassicalTarget'>OCTClassicalTarget </a></li>
<li><a href='Calculation_Modes.html#OCTControlFunctionOmegaMax'>OCTControlFunctionOmegaMax </a></li>
<li><a href='Calculation_Modes.html#OCTControlFunctionRepresentation'>OCTControlFunctionRepresentation </a></li>
<li><a href='Calculation_Modes.html#OCTControlFunctionType'>OCTControlFunctionType </a></li>
<li><a href='Calculation_Modes.html#OCTCurrentFunctional'>OCTCurrentFunctional </a></li>
<li><a href='Calculation_Modes.html#OCTCurrentWeight'>OCTCurrentWeight </a></li>
<li><a href='Calculation_Modes.html#OCTDelta'>OCTDelta </a></li>
<li><a href='Calculation_Modes.html#OCTDirectStep'>OCTDirectStep </a></li>
<li><a href='Calculation_Modes.html#OCTDoubleCheck'>OCTDoubleCheck </a></li>
<li><a href='Calculation_Modes.html#OCTDumpIntermediate'>OCTDumpIntermediate </a></li>
<li><a href='Calculation_Modes.html#OCTEps'>OCTEps </a></li>
<li><a href='Calculation_Modes.html#OCTEta'>OCTEta </a></li>
<li><a href='Calculation_Modes.html#OCTExcludedStates'>OCTExcludedStates </a></li>
<li><a href='Calculation_Modes.html#OCTFilter'>OCTFilter </a></li>
<li><a href='Calculation_Modes.html#OCTFixFluenceTo'>OCTFixFluenceTo </a></li>
<li><a href='Calculation_Modes.html#OCTFixInitialFluence'>OCTFixInitialFluence </a></li>
<li><a href='Calculation_Modes.html#OCTHarmonicWeight'>OCTHarmonicWeight </a></li>
<li><a href='Calculation_Modes.html#OCTInitialState'>OCTInitialState </a></li>
<li><a href='Calculation_Modes.html#OCTInitialTransformStates'>OCTInitialTransformStates </a></li>
<li><a href='Calculation_Modes.html#OCTInitialUserdefined'>OCTInitialUserdefined </a></li>
<li><a href='Calculation_Modes.html#OCTLaserEnvelope'>OCTLaserEnvelope </a></li>
<li><a href='Calculation_Modes.html#OCTLocalTarget'>OCTLocalTarget </a></li>
<li><a href='Calculation_Modes.html#OCTMaxIter'>OCTMaxIter </a></li>
<li><a href='Calculation_Modes.html#OCTMomentumDerivatives'>OCTMomentumDerivatives </a></li>
<li><a href='Calculation_Modes.html#OCTNumberCheckPoints'>OCTNumberCheckPoints </a></li>
<li><a href='Calculation_Modes.html#OCTOptimizeHarmonicSpectrum'>OCTOptimizeHarmonicSpectrum </a></li>
<li><a href='Calculation_Modes.html#OCTPenalty'>OCTPenalty </a></li>
<li><a href='Calculation_Modes.html#OCTPositionDerivatives'>OCTPositionDerivatives </a></li>
<li><a href='Calculation_Modes.html#OCTRandomInitialGuess'>OCTRandomInitialGuess </a></li>
<li><a href='Calculation_Modes.html#OCTScheme'>OCTScheme </a></li>
<li><a href='Calculation_Modes.html#OCTSpatialCurrWeight'>OCTSpatialCurrWeight </a></li>
<li><a href='Calculation_Modes.html#OCTStartIterCurrTg'>OCTStartIterCurrTg </a></li>
<li><a href='Calculation_Modes.html#OCTTargetDensity'>OCTTargetDensity </a></li>
<li><a href='Calculation_Modes.html#OCTTargetDensityFromState'>OCTTargetDensityFromState </a></li>
<li><a href='Calculation_Modes.html#OCTTargetOperator'>OCTTargetOperator </a></li>
<li><a href='Calculation_Modes.html#OCTTargetSpin'>OCTTargetSpin </a></li>
<li><a href='Calculation_Modes.html#OCTTargetTransformStates'>OCTTargetTransformStates </a></li>
<li><a href='Calculation_Modes.html#OCTTargetUserdefined'>OCTTargetUserdefined </a></li>
<li><a href='Calculation_Modes.html#OCTTdTarget'>OCTTdTarget </a></li>
<li><a href='Calculation_Modes.html#OCTVelocityDerivatives'>OCTVelocityDerivatives </a></li>
<li><a href='Calculation_Modes.html#OCTVelocityTarget'>OCTVelocityTarget </a></li>
</ul>
<li>Unoccupied States</li>
<ul>
<li><a href='Calculation_Modes.html#UnoccShowOccStates'>UnoccShowOccStates </a></li>
</ul>
</ul>
<li>Execution</li>
<ul>
<li><a href='Execution.html#FromScratch'>FromScratch </a></li>
<li>Debug</li>
<ul>
<li><a href='Execution.html#DebugLevel'>DebugLevel </a></li>
<li><a href='Execution.html#ExperimentalFeatures'>ExperimentalFeatures </a></li>
<li><a href='Execution.html#ForceComplex'>ForceComplex </a></li>
<li><a href='Execution.html#MPIDebugHook'>MPIDebugHook </a></li>
<li><a href='Execution.html#ReportMemory'>ReportMemory </a></li>
</ul>
<li>IO</li>
<ul>
<li><a href='Execution.html#FlushMessages'>FlushMessages </a></li>
<li><a href='Execution.html#MaxwellRestartWriteInterval'>MaxwellRestartWriteInterval </a></li>
<li><a href='Execution.html#RestartOptions'>RestartOptions </a></li>
<li><a href='Execution.html#RestartWrite'>RestartWrite </a></li>
<li><a href='Execution.html#RestartWriteInterval'>RestartWriteInterval </a></li>
<li><a href='Execution.html#WorkDir'>WorkDir </a></li>
<li><a href='Execution.html#stderr'>stderr </a></li>
<li><a href='Execution.html#stdout'>stdout </a></li>
</ul>
<li>OpenCL</li>
<ul>
<li><a href='Execution.html#DisableOpenCL'>DisableOpenCL </a></li>
<li><a href='Execution.html#OpenCLBenchmark'>OpenCLBenchmark </a></li>
<li><a href='Execution.html#OpenCLDevice'>OpenCLDevice </a></li>
<li><a href='Execution.html#OpenCLPlatform'>OpenCLPlatform </a></li>
</ul>
<li>Optimization</li>
<ul>
<li><a href='Execution.html#MemoryLimit'>MemoryLimit </a></li>
<li><a href='Execution.html#MeshBlockSize'>MeshBlockSize </a></li>
<li><a href='Execution.html#MeshOrder'>MeshOrder </a></li>
<li><a href='Execution.html#NLOperatorCompactBoundaries'>NLOperatorCompactBoundaries </a></li>
<li><a href='Execution.html#OperateComplex'>OperateComplex </a></li>
<li><a href='Execution.html#OperateComplexSingle'>OperateComplexSingle </a></li>
<li><a href='Execution.html#OperateDouble'>OperateDouble </a></li>
<li><a href='Execution.html#OperateOpenCL'>OperateOpenCL </a></li>
<li><a href='Execution.html#OperateSingle'>OperateSingle </a></li>
<li><a href='Execution.html#ProfilingAllNodes'>ProfilingAllNodes </a></li>
<li><a href='Execution.html#ProfilingMode'>ProfilingMode </a></li>
<li><a href='Execution.html#StatesBlockSize'>StatesBlockSize </a></li>
<li><a href='Execution.html#StatesCLDeviceMemory'>StatesCLDeviceMemory </a></li>
<li><a href='Execution.html#StatesPack'>StatesPack </a></li>
</ul>
<li>Parallelization</li>
<ul>
<li><a href='Execution.html#MeshPartition'>MeshPartition </a></li>
<li><a href='Execution.html#MeshPartitionDir'>MeshPartitionDir </a></li>
<li><a href='Execution.html#MeshPartitionPackage'>MeshPartitionPackage </a></li>
<li><a href='Execution.html#MeshPartitionRead'>MeshPartitionRead </a></li>
<li><a href='Execution.html#MeshPartitionStencil'>MeshPartitionStencil </a></li>
<li><a href='Execution.html#MeshPartitionVirtualSize'>MeshPartitionVirtualSize </a></li>
<li><a href='Execution.html#MeshPartitionWrite'>MeshPartitionWrite </a></li>
<li><a href='Execution.html#MeshUseTopology'>MeshUseTopology </a></li>
<li><a href='Execution.html#ParallelizationGroupRanks'>ParallelizationGroupRanks </a></li>
<li><a href='Execution.html#ParallelizationNumberSlaves'>ParallelizationNumberSlaves </a></li>
<li><a href='Execution.html#ParallelizationOfDerivatives'>ParallelizationOfDerivatives </a></li>
<li><a href='Execution.html#ParallelizationPoissonAllNodes'>ParallelizationPoissonAllNodes </a></li>
<li><a href='Execution.html#ParallelizationStrategy'>ParallelizationStrategy </a></li>
<li><a href='Execution.html#PartitionPrint'>PartitionPrint </a></li>
<li><a href='Execution.html#ScaLAPACKCompatible'>ScaLAPACKCompatible </a></li>
</ul>
<li>Symmetries</li>
<ul>
<li><a href='Execution.html#SymmetriesCompute'>SymmetriesCompute </a></li>
</ul>
<li>Units</li>
<ul>
<li><a href='Execution.html#Units'>Units </a></li>
<li><a href='Execution.html#UnitsInput'>UnitsInput </a></li>
<li><a href='Execution.html#UnitsOutput'>UnitsOutput </a></li>
</ul>
</ul>
<li>Hamiltonian</li>
<ul>
<li><a href='Hamiltonian.html#CalculateSelfInducedMagneticField'>CalculateSelfInducedMagneticField </a></li>
<li><a href='Hamiltonian.html#ClassicalPotential'>ClassicalPotential </a></li>
<li><a href='Hamiltonian.html#CurrentDensity'>CurrentDensity </a></li>
<li><a href='Hamiltonian.html#EwaldAlpha'>EwaldAlpha </a></li>
<li><a href='Hamiltonian.html#FilterPotentials'>FilterPotentials </a></li>
<li><a href='Hamiltonian.html#ForceTotalEnforce'>ForceTotalEnforce </a></li>
<li><a href='Hamiltonian.html#GaugeVectorField'>GaugeVectorField </a></li>
<li><a href='Hamiltonian.html#GyromagneticRatio'>GyromagneticRatio </a></li>
<li><a href='Hamiltonian.html#IgnoreExternalIons'>IgnoreExternalIons </a></li>
<li><a href='Hamiltonian.html#MassScaling'>MassScaling </a></li>
<li><a href='Hamiltonian.html#MatterToMaxwellCoupling'>MatterToMaxwellCoupling </a></li>
<li><a href='Hamiltonian.html#MaxwellCouplingOrder'>MaxwellCouplingOrder </a></li>
<li><a href='Hamiltonian.html#MaxwellEFieldTransThreshold'>MaxwellEFieldTransThreshold </a></li>
<li><a href='Hamiltonian.html#MaxwellFreePropagationTest'>MaxwellFreePropagationTest </a></li>
<li><a href='Hamiltonian.html#MaxwellToMatterCoupling'>MaxwellToMatterCoupling </a></li>
<li><a href='Hamiltonian.html#MaxwellTransverseElectricFieldTest'>MaxwellTransverseElectricFieldTest </a></li>
<li><a href='Hamiltonian.html#ParticleMass'>ParticleMass </a></li>
<li><a href='Hamiltonian.html#RashbaSpinOrbitCoupling'>RashbaSpinOrbitCoupling </a></li>
<li><a href='Hamiltonian.html#RelativisticCorrection'>RelativisticCorrection </a></li>
<li><a href='Hamiltonian.html#SCDM_EXX'>SCDM_EXX </a></li>
<li><a href='Hamiltonian.html#SOStrength'>SOStrength </a></li>
<li><a href='Hamiltonian.html#StaticElectricField'>StaticElectricField </a></li>
<li><a href='Hamiltonian.html#StaticMagneticField'>StaticMagneticField </a></li>
<li><a href='Hamiltonian.html#StaticMagneticField2DGauge'>StaticMagneticField2DGauge </a></li>
<li><a href='Hamiltonian.html#TheoryLevel'>TheoryLevel </a></li>
<li><a href='Hamiltonian.html#TnaddFactor'>TnaddFactor </a></li>
<li><a href='Hamiltonian.html#TnaddFunctional'>TnaddFunctional </a></li>
<li>ComplexScaling</li>
<ul>
<li><a href='Hamiltonian.html#ComplexScaling'>ComplexScaling </a></li>
<li><a href='Hamiltonian.html#ComplexScalingAlpha'>ComplexScalingAlpha </a></li>
<li><a href='Hamiltonian.html#ComplexScalingAlphaLeft'>ComplexScalingAlphaLeft </a></li>
<li><a href='Hamiltonian.html#ComplexScalingLocalizationRadius'>ComplexScalingLocalizationRadius </a></li>
<li><a href='Hamiltonian.html#ComplexScalingLocalizationThreshold'>ComplexScalingLocalizationThreshold </a></li>
<li><a href='Hamiltonian.html#ComplexScalingLocalizedStates'>ComplexScalingLocalizedStates </a></li>
<li><a href='Hamiltonian.html#ComplexScalingPenalizationFactor'>ComplexScalingPenalizationFactor </a></li>
<li><a href='Hamiltonian.html#ComplexScalingRotateSpectrum'>ComplexScalingRotateSpectrum </a></li>
<li><a href='Hamiltonian.html#ComplexScalingTheta'>ComplexScalingTheta </a></li>
</ul>
<li>PCM</li>
<ul>
<li><a href='Hamiltonian.html#CavityGeometry'>CavityGeometry </a></li>
<li><a href='Hamiltonian.html#SmearingFactor'>SmearingFactor </a></li>
<li><a href='Hamiltonian.html#Solvation'>Solvation </a></li>
<li><a href='Hamiltonian.html#SolventDielectricConstant'>SolventDielectricConstant </a></li>
</ul>
<li>Poisson</li>
<ul>
<li><a href='Hamiltonian.html#AlphaFMM'>AlphaFMM </a></li>
<li><a href='Hamiltonian.html#DeltaEFMM'>DeltaEFMM </a></li>
<li><a href='Hamiltonian.html#Poisson1DSoftCoulombParam'>Poisson1DSoftCoulombParam </a></li>
<li><a href='Hamiltonian.html#PoissonCutoffRadius'>PoissonCutoffRadius </a></li>
<li><a href='Hamiltonian.html#PoissonFFTKernel'>PoissonFFTKernel </a></li>
<li><a href='Hamiltonian.html#PoissonSolver'>PoissonSolver </a></li>
<li><a href='Hamiltonian.html#PoissonSolverBoundaries'>PoissonSolverBoundaries </a></li>
<li><a href='Hamiltonian.html#PoissonSolverMaxIter'>PoissonSolverMaxIter </a></li>
<li><a href='Hamiltonian.html#PoissonSolverMaxMultipole'>PoissonSolverMaxMultipole </a></li>
<li><a href='Hamiltonian.html#PoissonSolverNodes'>PoissonSolverNodes </a></li>
<li><a href='Hamiltonian.html#PoissonSolverThreshold'>PoissonSolverThreshold </a></li>
<li>ISF</li>
<ul>
<li><a href='Hamiltonian.html#PoissonSolverISFParallelData'>PoissonSolverISFParallelData </a></li>
</ul>
<li>Multigrid</li>
<ul>
<li><a href='Hamiltonian.html#PoissonSolverMGMaxCycles'>PoissonSolverMGMaxCycles </a></li>
<li><a href='Hamiltonian.html#PoissonSolverMGPostsmoothingSteps'>PoissonSolverMGPostsmoothingSteps </a></li>
<li><a href='Hamiltonian.html#PoissonSolverMGPresmoothingSteps'>PoissonSolverMGPresmoothingSteps </a></li>
<li><a href='Hamiltonian.html#PoissonSolverMGRelaxationFactor'>PoissonSolverMGRelaxationFactor </a></li>
<li><a href='Hamiltonian.html#PoissonSolverMGRelaxationMethod'>PoissonSolverMGRelaxationMethod </a></li>
<li><a href='Hamiltonian.html#PoissonSolverMGRestrictionMethod'>PoissonSolverMGRestrictionMethod </a></li>
</ul>
</ul>
<li>XC</li>
<ul>
<li><a href='Hamiltonian.html#Interaction1D'>Interaction1D </a></li>
<li><a href='Hamiltonian.html#Interaction1DScreening'>Interaction1DScreening </a></li>
<li><a href='Hamiltonian.html#LB94_modified'>LB94_modified </a></li>
<li><a href='Hamiltonian.html#LB94_threshold'>LB94_threshold </a></li>
<li><a href='Hamiltonian.html#OEPLevel'>OEPLevel </a></li>
<li><a href='Hamiltonian.html#OEPMixing'>OEPMixing </a></li>
<li><a href='Hamiltonian.html#SICCorrection'>SICCorrection </a></li>
<li><a href='Hamiltonian.html#XCFunctional'>XCFunctional </a></li>
<li><a href='Hamiltonian.html#XCKernel'>XCKernel </a></li>
<li><a href='Hamiltonian.html#XCKernelLRCAlpha'>XCKernelLRCAlpha </a></li>
<li><a href='Hamiltonian.html#XCUseGaugeIndependentKED'>XCUseGaugeIndependentKED </a></li>
<li><a href='Hamiltonian.html#Xalpha'>Xalpha </a></li>
<li>DensityCorrection</li>
<ul>
<li><a href='Hamiltonian.html#XCDensityCorrection'>XCDensityCorrection </a></li>
<li><a href='Hamiltonian.html#XCDensityCorrectionCutoff'>XCDensityCorrectionCutoff </a></li>
<li><a href='Hamiltonian.html#XCDensityCorrectionMinimum'>XCDensityCorrectionMinimum </a></li>
<li><a href='Hamiltonian.html#XCDensityCorrectionNormalize'>XCDensityCorrectionNormalize </a></li>
<li><a href='Hamiltonian.html#XCDensityCorrectionOptimize'>XCDensityCorrectionOptimize </a></li>
</ul>
</ul>
</ul>
<li>Linear Response</li>
<ul>
<li><a href='Linear_Response.html#MagneticGaugeCorrection'>MagneticGaugeCorrection </a></li>
<li><a href='Linear_Response.html#ResponseMethod'>ResponseMethod </a></li>
<li>Casida</li>
<ul>
<li><a href='Linear_Response.html#CasidaCalcForces'>CasidaCalcForces </a></li>
<li><a href='Linear_Response.html#CasidaCalcForcesKernel'>CasidaCalcForcesKernel </a></li>
<li><a href='Linear_Response.html#CasidaCalcForcesSCF'>CasidaCalcForcesSCF </a></li>
<li><a href='Linear_Response.html#CasidaCalcTriplet'>CasidaCalcTriplet </a></li>
<li><a href='Linear_Response.html#CasidaHermitianConjugate'>CasidaHermitianConjugate </a></li>
<li><a href='Linear_Response.html#CasidaKSEnergyWindow'>CasidaKSEnergyWindow </a></li>
<li><a href='Linear_Response.html#CasidaKohnShamStates'>CasidaKohnShamStates </a></li>
<li><a href='Linear_Response.html#CasidaMomentumTransfer'>CasidaMomentumTransfer </a></li>
<li><a href='Linear_Response.html#CasidaQuadratureOrder'>CasidaQuadratureOrder </a></li>
<li><a href='Linear_Response.html#CasidaTheoryLevel'>CasidaTheoryLevel </a></li>
<li><a href='Linear_Response.html#CasidaTransitionDensities'>CasidaTransitionDensities </a></li>
</ul>
<li>KdotP</li>
<ul>
<li><a href='Linear_Response.html#KdotPCalcSecondOrder'>KdotPCalcSecondOrder </a></li>
<li><a href='Linear_Response.html#KdotPCalculateEffectiveMasses'>KdotPCalculateEffectiveMasses </a></li>
<li><a href='Linear_Response.html#KdotPEta'>KdotPEta </a></li>
<li><a href='Linear_Response.html#KdotPOccupiedSolutionMethod'>KdotPOccupiedSolutionMethod </a></li>
<li><a href='Linear_Response.html#KdotPUseNonLocalPseudopotential'>KdotPUseNonLocalPseudopotential </a></li>
</ul>
<li>Polarizabilities</li>
<ul>
<li><a href='Linear_Response.html#BornChargeSumRuleCorrection'>BornChargeSumRuleCorrection </a></li>
<li><a href='Linear_Response.html#EMCalcBornCharges'>EMCalcBornCharges </a></li>
<li><a href='Linear_Response.html#EMCalcRotatoryResponse'>EMCalcRotatoryResponse </a></li>
<li><a href='Linear_Response.html#EMEta'>EMEta </a></li>
<li><a href='Linear_Response.html#EMForceNoKdotP'>EMForceNoKdotP </a></li>
<li><a href='Linear_Response.html#EMFreqs'>EMFreqs </a></li>
<li><a href='Linear_Response.html#EMFreqsSort'>EMFreqsSort </a></li>
<li><a href='Linear_Response.html#EMHyperpol'>EMHyperpol </a></li>
<li><a href='Linear_Response.html#EMOccupiedResponse'>EMOccupiedResponse </a></li>
<li><a href='Linear_Response.html#EMPerturbationType'>EMPerturbationType </a></li>
<li><a href='Linear_Response.html#EMWavefunctionsFromScratch'>EMWavefunctionsFromScratch </a></li>
<li><a href='Linear_Response.html#vdWNPoints'>vdWNPoints </a></li>
</ul>
<li>SCF in LR calculations</li>
<ul>
<li><a href='Linear_Response.html#LRConvAbsDens'>LRConvAbsDens </a></li>
<li><a href='Linear_Response.html#LRConvRelDens'>LRConvRelDens </a></li>
<li><a href='Linear_Response.html#LRMaximumIter'>LRMaximumIter </a></li>
<li><a href='Linear_Response.html#LRTolAdaptiveFactor'>LRTolAdaptiveFactor </a></li>
<li><a href='Linear_Response.html#LRTolIterWindow'>LRTolIterWindow </a></li>
<li><a href='Linear_Response.html#LRTolScheme'>LRTolScheme </a></li>
</ul>
<li>Solver</li>
<ul>
<li><a href='Linear_Response.html#LRTolFinalTol'>LRTolFinalTol </a></li>
<li><a href='Linear_Response.html#LRTolInitTol'>LRTolInitTol </a></li>
<li><a href='Linear_Response.html#LinearSolver'>LinearSolver </a></li>
<li><a href='Linear_Response.html#LinearSolverMaxIter'>LinearSolverMaxIter </a></li>
</ul>
<li>Static Polarization</li>
<ul>
<li><a href='Linear_Response.html#EMCalcDiagonalField'>EMCalcDiagonalField </a></li>
<li><a href='Linear_Response.html#EMStartDensityIsZeroField'>EMStartDensityIsZeroField </a></li>
<li><a href='Linear_Response.html#EMStaticElectricField'>EMStaticElectricField </a></li>
<li><a href='Linear_Response.html#EMVerbose'>EMVerbose </a></li>
<li><a href='Linear_Response.html#EMWriteRestartDensities'>EMWriteRestartDensities </a></li>
</ul>
<li>Sternheimer</li>
<ul>
<li><a href='Linear_Response.html#HamiltonianVariation'>HamiltonianVariation </a></li>
<li><a href='Linear_Response.html#Preorthogonalization'>Preorthogonalization </a></li>
</ul>
<li>Vibrational Modes</li>
<ul>
<li><a href='Linear_Response.html#CalcInfrared'>CalcInfrared </a></li>
<li><a href='Linear_Response.html#CalcNormalModeWfs'>CalcNormalModeWfs </a></li>
<li><a href='Linear_Response.html#Displacement'>Displacement </a></li>
<li><a href='Linear_Response.html#SymmetrizeDynamicalMatrix'>SymmetrizeDynamicalMatrix </a></li>
</ul>
</ul>
<li>Math</li>
<ul>
<li>RootSolver</li>
<ul>
<li><a href='Math.html#RootSolver'>RootSolver </a></li>
<li><a href='Math.html#RootSolverAbsTolerance'>RootSolverAbsTolerance </a></li>
<li><a href='Math.html#RootSolverHavePolynomial'>RootSolverHavePolynomial </a></li>
<li><a href='Math.html#RootSolverMaxIter'>RootSolverMaxIter </a></li>
<li><a href='Math.html#RootSolverRelTolerance'>RootSolverRelTolerance </a></li>
<li><a href='Math.html#RootSolverWSRadius'>RootSolverWSRadius </a></li>
<li><a href='Math.html#WatterstromODESolver'>WatterstromODESolver </a></li>
<li><a href='Math.html#WatterstromODESolverNSteps'>WatterstromODESolverNSteps </a></li>
</ul>
<li>SPARSKIT</li>
<ul>
<li><a href='Math.html#SPARSKITAbsTolerance'>SPARSKITAbsTolerance </a></li>
<li><a href='Math.html#SPARSKITIterOut'>SPARSKITIterOut </a></li>
<li><a href='Math.html#SPARSKITKrylovSubspaceSize'>SPARSKITKrylovSubspaceSize </a></li>
<li><a href='Math.html#SPARSKITMaxIter'>SPARSKITMaxIter </a></li>
<li><a href='Math.html#SPARSKITRelTolerance'>SPARSKITRelTolerance </a></li>
<li><a href='Math.html#SPARSKITSolver'>SPARSKITSolver </a></li>
<li><a href='Math.html#SPARSKITVerboseSolver'>SPARSKITVerboseSolver </a></li>
</ul>
</ul>
<li>MaxwellMesh</li>
<ul>
<li>Derivatives</li>
<ul>
<li><a href='MaxwellMesh.html#MaxwellDerivativesOrder'>MaxwellDerivativesOrder </a></li>
</ul>
</ul>
<li>Mesh</li>
<ul>
<li><a href='Mesh.html#DoubleGrid'>DoubleGrid </a></li>
<li><a href='Mesh.html#DoubleGridOrder'>DoubleGridOrder </a></li>
<li><a href='Mesh.html#MaxwellSpacing'>MaxwellSpacing </a></li>
<li><a href='Mesh.html#MultiResolutionArea'>MultiResolutionArea </a></li>
<li><a href='Mesh.html#MultiResolutionInterpolationOrder'>MultiResolutionInterpolationOrder </a></li>
<li><a href='Mesh.html#MultigridLevels'>MultigridLevels </a></li>
<li><a href='Mesh.html#Spacing'>Spacing </a></li>
<li><a href='Mesh.html#UseFineMesh'>UseFineMesh </a></li>
<li>Curvilinear</li>
<ul>
<li><a href='Mesh.html#CurvMethod'>CurvMethod </a></li>
<li>Gygi</li>
<ul>
<li><a href='Mesh.html#CurvGygiA'>CurvGygiA </a></li>
<li><a href='Mesh.html#CurvGygiAlpha'>CurvGygiAlpha </a></li>
<li><a href='Mesh.html#CurvGygiBeta'>CurvGygiBeta </a></li>
</ul>
<li>Modine</li>
<ul>
<li><a href='Mesh.html#CurvModineJBar'>CurvModineJBar </a></li>
<li><a href='Mesh.html#CurvModineJlocal'>CurvModineJlocal </a></li>
<li><a href='Mesh.html#CurvModineJrange'>CurvModineJrange </a></li>
<li><a href='Mesh.html#CurvModineXBar'>CurvModineXBar </a></li>
</ul>
</ul>
<li>Derivatives</li>
<ul>
<li><a href='Mesh.html#DerivativesOrder'>DerivativesOrder </a></li>
<li><a href='Mesh.html#DerivativesStencil'>DerivativesStencil </a></li>
<li><a href='Mesh.html#MaxwellDerivativesStencil'>MaxwellDerivativesStencil </a></li>
</ul>
<li>FFTs</li>
<ul>
<li><a href='Mesh.html#DoubleFFTParameter'>DoubleFFTParameter </a></li>
<li><a href='Mesh.html#FFTLibrary'>FFTLibrary </a></li>
<li><a href='Mesh.html#FFTOptimize'>FFTOptimize </a></li>
<li><a href='Mesh.html#FFTPreparePlan'>FFTPreparePlan </a></li>
<li><a href='Mesh.html#NFFTCutoff'>NFFTCutoff </a></li>
<li><a href='Mesh.html#NFFTGuruInterface'>NFFTGuruInterface </a></li>
<li><a href='Mesh.html#NFFTOversampling'>NFFTOversampling </a></li>
<li><a href='Mesh.html#NFFTPrecompute'>NFFTPrecompute </a></li>
<li><a href='Mesh.html#PNFFTCutoff'>PNFFTCutoff </a></li>
<li><a href='Mesh.html#PNFFTOversampling'>PNFFTOversampling </a></li>
</ul>
<li>KPoints</li>
<ul>
<li><a href='Mesh.html#KPoints'>KPoints </a></li>
<li><a href='Mesh.html#KPointsGrid'>KPointsGrid </a></li>
<li><a href='Mesh.html#KPointsReduced'>KPointsReduced </a></li>
<li><a href='Mesh.html#KPointsUseSymmetries'>KPointsUseSymmetries </a></li>
<li><a href='Mesh.html#KPointsUseTimeReversal'>KPointsUseTimeReversal </a></li>
</ul>
<li>Simulation Box</li>
<ul>
<li><a href='Mesh.html#BoxShape'>BoxShape </a></li>
<li><a href='Mesh.html#BoxShapeImage'>BoxShapeImage </a></li>
<li><a href='Mesh.html#BoxShapeUsDef'>BoxShapeUsDef </a></li>
<li><a href='Mesh.html#LatticeVectors'>LatticeVectors </a></li>
<li><a href='Mesh.html#Lsize'>Lsize </a></li>
<li><a href='Mesh.html#MaxwellBoxShape'>MaxwellBoxShape </a></li>
<li><a href='Mesh.html#MaxwellLsize'>MaxwellLsize </a></li>
<li><a href='Mesh.html#Radius'>Radius </a></li>
<li><a href='Mesh.html#SymmetryBreakDir'>SymmetryBreakDir </a></li>
<li><a href='Mesh.html#Xlength'>Xlength </a></li>
</ul>
</ul>
<li>Output</li>
<ul>
<li><a href='Output.html#CurrentThroughPlane'>CurrentThroughPlane </a></li>
<li><a href='Output.html#DOSEnergyMax'>DOSEnergyMax </a></li>
<li><a href='Output.html#DOSEnergyMin'>DOSEnergyMin </a></li>
<li><a href='Output.html#DOSEnergyPoints'>DOSEnergyPoints </a></li>
<li><a href='Output.html#DOSGamma'>DOSGamma </a></li>
<li><a href='Output.html#ELFWithCurrentTerm'>ELFWithCurrentTerm </a></li>
<li><a href='Output.html#LocalMagneticMomentsSphereRadius'>LocalMagneticMomentsSphereRadius </a></li>
<li><a href='Output.html#MaxwellOutput'>MaxwellOutput </a></li>
<li><a href='Output.html#MaxwellOutputInterval'>MaxwellOutputInterval </a></li>
<li><a href='Output.html#MaxwellOutputIterDir'>MaxwellOutputIterDir </a></li>
<li><a href='Output.html#MomentumTransfer'>MomentumTransfer </a></li>
<li><a href='Output.html#OpenSCADIsovalue'>OpenSCADIsovalue </a></li>
<li><a href='Output.html#Output'>Output </a></li>
<li><a href='Output.html#OutputBandsGnuplotMode'>OutputBandsGnuplotMode </a></li>
<li><a href='Output.html#OutputBandsGraceMode'>OutputBandsGraceMode </a></li>
<li><a href='Output.html#OutputDuringSCF'>OutputDuringSCF </a></li>
<li><a href='Output.html#OutputHow'>OutputHow </a></li>
<li><a href='Output.html#OutputInterval'>OutputInterval </a></li>
<li><a href='Output.html#OutputIterDir'>OutputIterDir </a></li>
<li><a href='Output.html#OutputMEMultipoles'>OutputMEMultipoles </a></li>
<li><a href='Output.html#OutputMatrixElements'>OutputMatrixElements </a></li>
<li><a href='Output.html#OutputWfsNumber'>OutputWfsNumber </a></li>
<li>BerkeleyGW</li>
<ul>
<li><a href='Output.html#BerkeleyGW_CalcDipoleMtxels'>BerkeleyGW_CalcDipoleMtxels </a></li>
<li><a href='Output.html#BerkeleyGW_CalcExchange'>BerkeleyGW_CalcExchange </a></li>
<li><a href='Output.html#BerkeleyGW_NumberBands'>BerkeleyGW_NumberBands </a></li>
<li><a href='Output.html#BerkeleyGW_VmtxelNumCondBands'>BerkeleyGW_VmtxelNumCondBands </a></li>
<li><a href='Output.html#BerkeleyGW_VmtxelNumValBands'>BerkeleyGW_VmtxelNumValBands </a></li>
<li><a href='Output.html#BerkeleyGW_VmtxelPolarization'>BerkeleyGW_VmtxelPolarization </a></li>
<li><a href='Output.html#BerkeleyGW_Vxc_diag_nmax'>BerkeleyGW_Vxc_diag_nmax </a></li>
<li><a href='Output.html#BerkeleyGW_Vxc_diag_nmin'>BerkeleyGW_Vxc_diag_nmin </a></li>
<li><a href='Output.html#BerkeleyGW_Vxc_offdiag_nmax'>BerkeleyGW_Vxc_offdiag_nmax </a></li>
<li><a href='Output.html#BerkeleyGW_Vxc_offdiag_nmin'>BerkeleyGW_Vxc_offdiag_nmin </a></li>
<li><a href='Output.html#BerkeleyGW_WFN_filename'>BerkeleyGW_WFN_filename </a></li>
</ul>
</ul>
<li>SCF</li>
<ul>
<li><a href='SCF.html#SCFCalculateDipole'>SCFCalculateDipole </a></li>
<li><a href='SCF.html#SCFCalculateForces'>SCFCalculateForces </a></li>
<li><a href='SCF.html#SCFCalculatePartialCharges'>SCFCalculatePartialCharges </a></li>
<li><a href='SCF.html#SCFinLCAO'>SCFinLCAO </a></li>
<li>Convergence</li>
<ul>
<li><a href='SCF.html#ConvAbsDens'>ConvAbsDens </a></li>
<li><a href='SCF.html#ConvAbsEv'>ConvAbsEv </a></li>
<li><a href='SCF.html#ConvEigenError'>ConvEigenError </a></li>
<li><a href='SCF.html#ConvForce'>ConvForce </a></li>
<li><a href='SCF.html#ConvRelDens'>ConvRelDens </a></li>
<li><a href='SCF.html#ConvRelEv'>ConvRelEv </a></li>
<li><a href='SCF.html#MaximumIter'>MaximumIter </a></li>
<li><a href='SCF.html#MaximumIterBerry'>MaximumIterBerry </a></li>
</ul>
<li>Eigensolver</li>
<ul>
<li><a href='SCF.html#Eigensolver'>Eigensolver </a></li>
<li><a href='SCF.html#EigensolverArnoldiVectors'>EigensolverArnoldiVectors </a></li>
<li><a href='SCF.html#EigensolverImaginaryTime'>EigensolverImaginaryTime </a></li>
<li><a href='SCF.html#EigensolverMaxIter'>EigensolverMaxIter </a></li>
<li><a href='SCF.html#EigensolverMinimizationIter'>EigensolverMinimizationIter </a></li>
<li><a href='SCF.html#EigensolverSaveMemory'>EigensolverSaveMemory </a></li>
<li><a href='SCF.html#EigensolverTolerance'>EigensolverTolerance </a></li>
<li><a href='SCF.html#Preconditioner'>Preconditioner </a></li>
<li><a href='SCF.html#StatesOrthogonalization'>StatesOrthogonalization </a></li>
<li><a href='SCF.html#SubspaceDiagonalization'>SubspaceDiagonalization </a></li>
<li>ARPACK</li>
<ul>
<li><a href='SCF.html#ArpackInitialTolerance'>ArpackInitialTolerance </a></li>
<li><a href='SCF.html#EigensolverArpackInitialResid'>EigensolverArpackInitialResid </a></li>
<li><a href='SCF.html#EigensolverArpackSort'>EigensolverArpackSort </a></li>
<li><a href='SCF.html#EigensolverParpack'>EigensolverParpack </a></li>
</ul>
<li>FEAST</li>
<ul>
<li><a href='SCF.html#FeastContour'>FeastContour </a></li>
<li><a href='SCF.html#FeastMaxIter'>FeastMaxIter </a></li>
</ul>
</ul>
<li>LCAO</li>
<ul>
<li><a href='SCF.html#AtomsMagnetDirection'>AtomsMagnetDirection </a></li>
<li><a href='SCF.html#GuessMagnetDensity'>GuessMagnetDensity </a></li>
<li><a href='SCF.html#LCAOAlternative'>LCAOAlternative </a></li>
<li><a href='SCF.html#LCAOComplexYlms'>LCAOComplexYlms </a></li>
<li><a href='SCF.html#LCAODiagTol'>LCAODiagTol </a></li>
<li><a href='SCF.html#LCAODimension'>LCAODimension </a></li>
<li><a href='SCF.html#LCAOExtraOrbitals'>LCAOExtraOrbitals </a></li>
<li><a href='SCF.html#LCAOKeepOrbitals'>LCAOKeepOrbitals </a></li>
<li><a href='SCF.html#LCAOMaximumOrbitalRadius'>LCAOMaximumOrbitalRadius </a></li>
<li><a href='SCF.html#LCAOScaleFactor'>LCAOScaleFactor </a></li>
<li><a href='SCF.html#LCAOStart'>LCAOStart </a></li>
</ul>
<li>Mixing</li>
<ul>
<li><a href='SCF.html#MixField'>MixField </a></li>
<li><a href='SCF.html#MixNumberSteps'>MixNumberSteps </a></li>
<li><a href='SCF.html#Mixing'>Mixing </a></li>
<li><a href='SCF.html#TypeOfMixing'>TypeOfMixing </a></li>
</ul>
<li>RDMFT</li>
<ul>
<li><a href='SCF.html#RDMConvEner'>RDMConvEner </a></li>
<li><a href='SCF.html#RDMTolerance'>RDMTolerance </a></li>
</ul>
</ul>
<li>States</li>
<ul>
<li><a href='States.html#DegeneracyThreshold'>DegeneracyThreshold </a></li>
<li><a href='States.html#ExcessCharge'>ExcessCharge </a></li>
<li><a href='States.html#ExtraStates'>ExtraStates </a></li>
<li><a href='States.html#InitialSpins'>InitialSpins </a></li>
<li><a href='States.html#Occupations'>Occupations </a></li>
<li><a href='States.html#OnlyUserDefinedInitialStates'>OnlyUserDefinedInitialStates </a></li>
<li><a href='States.html#RestartFixedOccupations'>RestartFixedOccupations </a></li>
<li><a href='States.html#RestartReorderOccs'>RestartReorderOccs </a></li>
<li><a href='States.html#Smearing'>Smearing </a></li>
<li><a href='States.html#SmearingFunction'>SmearingFunction </a></li>
<li><a href='States.html#SmearingMPOrder'>SmearingMPOrder </a></li>
<li><a href='States.html#SpinComponents'>SpinComponents </a></li>
<li><a href='States.html#SymmetrizeDensity'>SymmetrizeDensity </a></li>
<li><a href='States.html#TotalStates'>TotalStates </a></li>
<li><a href='States.html#TransformStates'>TransformStates </a></li>
<li><a href='States.html#UserDefinedMaxwellStates'>UserDefinedMaxwellStates </a></li>
<li><a href='States.html#UserDefinedStates'>UserDefinedStates </a></li>
<li>ModelMB</li>
<ul>
<li><a href='States.html#DensitytoCalc'>DensitytoCalc </a></li>
<li><a href='States.html#DescribeParticlesModelmb'>DescribeParticlesModelmb </a></li>
<li><a href='States.html#NDimModelmb'>NDimModelmb </a></li>
<li><a href='States.html#NParticleModelmb'>NParticleModelmb </a></li>
<li><a href='States.html#NTypeParticleModelmb'>NTypeParticleModelmb </a></li>
</ul>
</ul>
<li>System</li>
<ul>
<li><a href='System.html#Dimensions'>Dimensions </a></li>
<li><a href='System.html#MaxwellDimensions'>MaxwellDimensions </a></li>
<li><a href='System.html#PeriodicDimensions'>PeriodicDimensions </a></li>
<li><a href='System.html#SubSystemCoordinates'>SubSystemCoordinates </a></li>
<li><a href='System.html#SubSystems'>SubSystems </a></li>
<li>Coordinates</li>
<ul>
<li><a href='System.html#Coordinates'>Coordinates </a></li>
<li><a href='System.html#PDBClassical'>PDBClassical </a></li>
<li><a href='System.html#PDBCoordinates'>PDBCoordinates </a></li>
<li><a href='System.html#ReducedCoordinates'>ReducedCoordinates </a></li>
<li><a href='System.html#XSFCoordinates'>XSFCoordinates </a></li>
<li><a href='System.html#XSFCoordinatesAnimStep'>XSFCoordinatesAnimStep </a></li>
<li><a href='System.html#XYZCoordinates'>XYZCoordinates </a></li>
</ul>
<li>Species</li>
<ul>
<li><a href='System.html#IonicInteraction'>IonicInteraction </a></li>
<li><a href='System.html#PseudopotentialSet'>PseudopotentialSet </a></li>
<li><a href='System.html#Species'>Species </a></li>
<li><a href='System.html#SpeciesProjectorSphereThreshold'>SpeciesProjectorSphereThreshold </a></li>
<li><a href='System.html#SpeciesTimeDependent'>SpeciesTimeDependent </a></li>
</ul>
<li>Velocities</li>
<ul>
<li><a href='System.html#PDBVelocities'>PDBVelocities </a></li>
<li><a href='System.html#RandomVelocityTemp'>RandomVelocityTemp </a></li>
<li><a href='System.html#Velocities'>Velocities </a></li>
<li><a href='System.html#XSFVelocities'>XSFVelocities </a></li>
<li><a href='System.html#XYZVelocities'>XYZVelocities </a></li>
</ul>
</ul>
<li>Time-Dependent</li>
<ul>
<li><a href='Time-Dependent.html#TDExternalFields'>TDExternalFields </a></li>
<li><a href='Time-Dependent.html#TDFreezeHXC'>TDFreezeHXC </a></li>
<li><a href='Time-Dependent.html#TDFreezeOrbitals'>TDFreezeOrbitals </a></li>
<li><a href='Time-Dependent.html#TDFunctions'>TDFunctions </a></li>
<li>Absorbing Boundaries</li>
<ul>
<li><a href='Time-Dependent.html#ABHeight'>ABHeight </a></li>
<li><a href='Time-Dependent.html#ABWidth'>ABWidth </a></li>
<li><a href='Time-Dependent.html#AbsorbingBoundaries'>AbsorbingBoundaries </a></li>
<li><a href='Time-Dependent.html#MaxwellABWidth'>MaxwellABWidth </a></li>
<li><a href='Time-Dependent.html#MaxwellAbsorbingBoundaries'>MaxwellAbsorbingBoundaries </a></li>
</ul>
<li>PhotoElectronSpectrum</li>
<ul>
<li><a href='Time-Dependent.html#PESMask2PEnlargeFactor'>PESMask2PEnlargeFactor </a></li>
<li><a href='Time-Dependent.html#PESMaskEnlargeFactor'>PESMaskEnlargeFactor </a></li>
<li><a href='Time-Dependent.html#PESMaskFilterCutOff'>PESMaskFilterCutOff </a></li>
<li><a href='Time-Dependent.html#PESMaskIncludePsiA'>PESMaskIncludePsiA </a></li>
<li><a href='Time-Dependent.html#PESMaskMode'>PESMaskMode </a></li>
<li><a href='Time-Dependent.html#PESMaskPlaneWaveProjection'>PESMaskPlaneWaveProjection </a></li>
<li><a href='Time-Dependent.html#PESMaskShape'>PESMaskShape </a></li>
<li><a href='Time-Dependent.html#PESMaskSize'>PESMaskSize </a></li>
<li><a href='Time-Dependent.html#PESMaskSpectEnergyMax'>PESMaskSpectEnergyMax </a></li>
<li><a href='Time-Dependent.html#PESMaskSpectEnergyStep'>PESMaskSpectEnergyStep </a></li>
<li><a href='Time-Dependent.html#PESMaskStartTime'>PESMaskStartTime </a></li>
<li><a href='Time-Dependent.html#PhotoElectronSpectrum'>PhotoElectronSpectrum </a></li>
<li><a href='Time-Dependent.html#PhotoElectronSpectrumPoints'>PhotoElectronSpectrumPoints </a></li>
</ul>
<li>Propagation</li>
<ul>
<li><a href='Time-Dependent.html#IonsConstantVelocity'>IonsConstantVelocity </a></li>
<li><a href='Time-Dependent.html#MaxwellTDEfieldDivergence'>MaxwellTDEfieldDivergence </a></li>
<li><a href='Time-Dependent.html#MaxwellTDEfieldDivergenceIter'>MaxwellTDEfieldDivergenceIter </a></li>
<li><a href='Time-Dependent.html#MaxwellTDEfieldTransVariance'>MaxwellTDEfieldTransVariance </a></li>
<li><a href='Time-Dependent.html#MaxwellTDEfieldTransVarianceIter'>MaxwellTDEfieldTransVarianceIter </a></li>
<li><a href='Time-Dependent.html#MaxwellTDEnergyCalculation'>MaxwellTDEnergyCalculation </a></li>
<li><a href='Time-Dependent.html#MaxwellTDEnergyCalculationIter'>MaxwellTDEnergyCalculationIter </a></li>
<li><a href='Time-Dependent.html#MaxwellTDExpOrder'>MaxwellTDExpOrder </a></li>
<li><a href='Time-Dependent.html#MaxwellTDExponentialMethod'>MaxwellTDExponentialMethod </a></li>
<li><a href='Time-Dependent.html#MaxwellTDOperatorMethod'>MaxwellTDOperatorMethod </a></li>
<li><a href='Time-Dependent.html#MaxwellTDPropagator'>MaxwellTDPropagator </a></li>
<li><a href='Time-Dependent.html#MaxwellTDTransEfieldCalculation'>MaxwellTDTransEfieldCalculation </a></li>
<li><a href='Time-Dependent.html#MoveIons'>MoveIons </a></li>
<li><a href='Time-Dependent.html#RecalculateGSDuringEvolution'>RecalculateGSDuringEvolution </a></li>
<li><a href='Time-Dependent.html#TDDynamics'>TDDynamics </a></li>
<li><a href='Time-Dependent.html#TDEnergyUpdateIter'>TDEnergyUpdateIter </a></li>
<li><a href='Time-Dependent.html#TDExpOrder'>TDExpOrder </a></li>
<li><a href='Time-Dependent.html#TDExponentialMethod'>TDExponentialMethod </a></li>
<li><a href='Time-Dependent.html#TDIonicTimeScale'>TDIonicTimeScale </a></li>
<li><a href='Time-Dependent.html#TDLanczosTol'>TDLanczosTol </a></li>
<li><a href='Time-Dependent.html#TDMaxSteps'>TDMaxSteps </a></li>
<li><a href='Time-Dependent.html#TDPropagationTime'>TDPropagationTime </a></li>
<li><a href='Time-Dependent.html#TDPropagator'>TDPropagator </a></li>
<li><a href='Time-Dependent.html#TDSCFThreshold'>TDSCFThreshold </a></li>
<li><a href='Time-Dependent.html#TDStepsWithSelfConsistency'>TDStepsWithSelfConsistency </a></li>
<li><a href='Time-Dependent.html#TDTimeStep'>TDTimeStep </a></li>
<li><a href='Time-Dependent.html#TemperatureFunction'>TemperatureFunction </a></li>
<li><a href='Time-Dependent.html#Thermostat'>Thermostat </a></li>
<li><a href='Time-Dependent.html#ThermostatMass'>ThermostatMass </a></li>
</ul>
<li>Response</li>
<ul>
<li><a href='Time-Dependent.html#TDDeltaKickTime'>TDDeltaKickTime </a></li>
<li><a href='Time-Dependent.html#TDDeltaStrength'>TDDeltaStrength </a></li>
<li><a href='Time-Dependent.html#TDDeltaStrengthMode'>TDDeltaStrengthMode </a></li>
<li><a href='Time-Dependent.html#TDDeltaUserDefined'>TDDeltaUserDefined </a></li>
<li><a href='Time-Dependent.html#TDKickFunction'>TDKickFunction </a></li>
<li><a href='Time-Dependent.html#TDMomentumTransfer'>TDMomentumTransfer </a></li>
<li>Dipole</li>
<ul>
<li><a href='Time-Dependent.html#TDPolarization'>TDPolarization </a></li>
<li><a href='Time-Dependent.html#TDPolarizationDirection'>TDPolarizationDirection </a></li>
<li><a href='Time-Dependent.html#TDPolarizationEquivAxes'>TDPolarizationEquivAxes </a></li>
<li><a href='Time-Dependent.html#TDPolarizationWprime'>TDPolarizationWprime </a></li>
</ul>
</ul>
<li>TD Output</li>
<ul>
<li><a href='Time-Dependent.html#TDExcitedStatesToProject'>TDExcitedStatesToProject </a></li>
<li><a href='Time-Dependent.html#TDMultipoleLmax'>TDMultipoleLmax </a></li>
<li><a href='Time-Dependent.html#TDOutput'>TDOutput </a></li>
<li><a href='Time-Dependent.html#TDProjStateStart'>TDProjStateStart </a></li>
</ul>
</ul>
<li>Utilities</li>
<ul>
<li>oct-casida_spectrum</li>
<ul>
<li><a href='Utilities.html#CasidaSpectrumBroadening'>CasidaSpectrumBroadening </a></li>
<li><a href='Utilities.html#CasidaSpectrumEnergyStep'>CasidaSpectrumEnergyStep </a></li>
<li><a href='Utilities.html#CasidaSpectrumMaxEnergy'>CasidaSpectrumMaxEnergy </a></li>
<li><a href='Utilities.html#CasidaSpectrumMinEnergy'>CasidaSpectrumMinEnergy </a></li>
<li><a href='Utilities.html#CasidaSpectrumRotationMatrix'>CasidaSpectrumRotationMatrix </a></li>
</ul>
<li>oct-center-geom</li>
<ul>
<li><a href='Utilities.html#AxisType'>AxisType </a></li>
<li><a href='Utilities.html#MainAxis'>MainAxis </a></li>
</ul>
<li>oct-convert</li>
<ul>
<li><a href='Utilities.html#ConvertEnd'>ConvertEnd </a></li>
<li><a href='Utilities.html#ConvertEnergyMax'>ConvertEnergyMax </a></li>
<li><a href='Utilities.html#ConvertEnergyMin'>ConvertEnergyMin </a></li>
<li><a href='Utilities.html#ConvertFilename'>ConvertFilename </a></li>
<li><a href='Utilities.html#ConvertFolder'>ConvertFolder </a></li>
<li><a href='Utilities.html#ConvertIterateFolder'>ConvertIterateFolder </a></li>
<li><a href='Utilities.html#ConvertReadSize'>ConvertReadSize </a></li>
<li><a href='Utilities.html#ConvertStart'>ConvertStart </a></li>
<li><a href='Utilities.html#ConvertStep'>ConvertStep </a></li>
<li><a href='Utilities.html#ConvertSubtract'>ConvertSubtract </a></li>
<li><a href='Utilities.html#ConvertSubtractFilename'>ConvertSubtractFilename </a></li>
<li><a href='Utilities.html#ConvertSubtractFolder'>ConvertSubtractFolder </a></li>
<li><a href='Utilities.html#ConvertTransform'>ConvertTransform </a></li>
</ul>
<li>oct-local_multipoles</li>
<ul>
<li><a href='Utilities.html#LDBaderThreshold'>LDBaderThreshold </a></li>
<li><a href='Utilities.html#LDExtraWrite'>LDExtraWrite </a></li>
<li><a href='Utilities.html#LDFilename'>LDFilename </a></li>
<li><a href='Utilities.html#LDFolder'>LDFolder </a></li>
<li><a href='Utilities.html#LDMultipoleLmax'>LDMultipoleLmax </a></li>
<li><a href='Utilities.html#LDOutput'>LDOutput </a></li>
<li><a href='Utilities.html#LDOutputHow'>LDOutputHow </a></li>
<li><a href='Utilities.html#LDOverWrite'>LDOverWrite </a></li>
<li><a href='Utilities.html#LDRadiiFile'>LDRadiiFile </a></li>
<li><a href='Utilities.html#LDRestart'>LDRestart </a></li>
<li><a href='Utilities.html#LDRestartFolder'>LDRestartFolder </a></li>
<li><a href='Utilities.html#LDUpdate'>LDUpdate </a></li>
<li><a href='Utilities.html#LDUseAtomicRadii'>LDUseAtomicRadii </a></li>
<li><a href='Utilities.html#LocalDomain'>LocalDomain </a></li>
</ul>
<li>oct-propagation_spectrum</li>
<ul>
<li><a href='Utilities.html#PropagationSpectrumDampFactor'>PropagationSpectrumDampFactor </a></li>
<li><a href='Utilities.html#PropagationSpectrumDampMode'>PropagationSpectrumDampMode </a></li>
<li><a href='Utilities.html#PropagationSpectrumEndTime'>PropagationSpectrumEndTime </a></li>
<li><a href='Utilities.html#PropagationSpectrumEnergyStep'>PropagationSpectrumEnergyStep </a></li>
<li><a href='Utilities.html#PropagationSpectrumMaxEnergy'>PropagationSpectrumMaxEnergy </a></li>
<li><a href='Utilities.html#PropagationSpectrumStartTime'>PropagationSpectrumStartTime </a></li>
<li><a href='Utilities.html#PropagationSpectrumTransform'>PropagationSpectrumTransform </a></li>
<li><a href='Utilities.html#PropagationSpectrumType'>PropagationSpectrumType </a></li>
<li><a href='Utilities.html#SpectrumMethod'>SpectrumMethod </a></li>
<li><a href='Utilities.html#SpectrumSignalNoise'>SpectrumSignalNoise </a></li>
</ul>
<li>oct-test</li>
<ul>
<li><a href='Utilities.html#TestMaxBlockSize'>TestMaxBlockSize </a></li>
<li><a href='Utilities.html#TestMinBlockSize'>TestMinBlockSize </a></li>
<li><a href='Utilities.html#TestMode'>TestMode </a></li>
<li><a href='Utilities.html#TestRepetitions'>TestRepetitions </a></li>
<li><a href='Utilities.html#TestType'>TestType </a></li>
</ul>
<li>oct-vibrational_spectrum</li>
<ul>
<li><a href='Utilities.html#VibrationalSpectrumTime'>VibrationalSpectrumTime </a></li>
<li><a href='Utilities.html#VibrationalSpectrumTimeStepFactor'>VibrationalSpectrumTimeStepFactor </a></li>
</ul>
<li>oct-xyz-anim</li>
<ul>
<li><a href='Utilities.html#AnimationMultiFiles'>AnimationMultiFiles </a></li>
<li><a href='Utilities.html#AnimationSampling'>AnimationSampling </a></li>
</ul>
</ul>
</ul>
